@using Shaa.Domain.ViewModels.Attachment
@model FilterAttachmentViewModel

<div class="table-responsive">
    <table class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4">
        <thead>
            <tr class="fw-bolder text-muted">
                <th class="w-25px">
                    <div class="form-check form-check-sm form-check-custom form-check-solid">
                        <input class="form-check-input" type="checkbox" value="1" data-kt-check="true" data-kt-check-target=".widget-9-check" />
                    </div>
                </th>
                <th class="min-w-120px">نام فایل</th>
                <th class="min-w-120px">حجم فایل</th>

                @*
                <th class="min-w-120px">هزینه کلی</th>
                <th class="min-w-120px">هزینه دریافتی</th>
                <th class="min-w-120px">تعداد نمونه</th>
                <th class="min-w-120px">عنوان نمونه</th>*@

                <th class="min-w-120px text-end">عملیات</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Entities.Any())
            {
                foreach (AttachmentViewModel attachmentModel in Model.Entities)
                {
                    <tr>
                        <td>
                            <div class="form-check form-check-sm form-check-custom form-check-solid">
                                <input class="form-check-input widget-9-check" type="checkbox" value="1" />
                            </div>
                        </td>
                        <td>
                            <a href="#" class="text-dark fw-bolder text-hover-primary d-block fs-6">@attachmentModel.FileName</a>
                        </td>
                        <td>
                            <a href="#" class="text-dark fw-bolder text-hover-primary d-block fs-6">@attachmentModel.FileSize</a>
                        </td>
                        <td>
                            <div class="d-flex justify-content-end flex-shrink-0">
                                <a href="/Attachment/DownloadAttachment/@attachmentModel.UniqueId" download class="btn btn-sm btn-light btn-active-primary me-2">
                                    دانلود
                                </a> 
                                <a href="#" class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm" onclick="DeleteAttachment('@attachmentModel.UniqueId')">
                                    <span class="svg-icon svg-icon-3">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                            <path d="M5 9C5 8.44772 5.44772 8 6 8H18C18.5523 8 19 8.44772 19 9V18C19 19.6569 17.6569 21 16 21H8C6.34315 21 5 19.6569 5 18V9Z" fill="currentColor" />
                                            <path opacity="0.5" d="M5 5C5 4.44772 5.44772 4 6 4H18C18.5523 4 19 4.44772 19 5V5C19 5.55228 18.5523 6 18 6H6C5.44772 6 5 5.55228 5 5V5Z" fill="currentColor" />
                                            <path opacity="0.5" d="M9 4C9 3.44772 9.44772 3 10 3H14C14.5523 3 15 3.44772 15 4V4H9V4Z" fill="currentColor" />
                                        </svg>
                                    </span>
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    @*    <div>
    @if (Model.Entities.Any())
    {
    <nav aria-label="...">
    <ul class="pagination">
    <li class="page-item disabled">
    <a class="page-link" href="#" tabindex="-1">قبلی</a>
    </li>

    @for (int i = 1; i <= Model.TotalPage; i++)
    {
    if (i == Model.CurrentPage)
    {
    <li class="page-item active">
    <a class="page-link" href="#">
    @i <span class="sr-only">(current)</span>
    </a>
    </li>
    }
    else
    {
    <li class="page-item">
    <a class="page-link" asp-controller="Laboratory" asp-action="WardPartial"
    asp-route-laboratoryId="@Model.RequestId" asp-route-CurrentPage="@i">
    @i
    </a>
    </li>
    }
    }

    <li class="page-item">
    <a class="page-link" href="#">بعدی</a>
    </li>
    </ul>
    </nav>
    }
    </div>*@
</div>